
body {
    margin-top: 7vh;
    color: #FFF;
    background: #000;
    text-align: center;
    font-family:
        "Helvetica",
        "Arial",
        "A-OTF Shin Go Pro",
        "Meiryo",
        "MS PGothic",
        "Hiragino Kaku Gothic Pro",
        sans-serif;
}

#rfc_logo {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
}

#rfc_logo img {
    max-height: 12vh;
    max-width: 30vw;
    height: auto;
    width: auto;
    display: block;
}

.Model {
    font-weight: Bold;
    font-size: 300%;
    line-height: 50%;
}

.RFCClock {
    font-weight: Bold;
    font-size: 2000%;
    line-height: 100%;
}

.Calendar {
    font-weight: Normal;
    font-size: 300%;
    line-height: 100%;
}

.Scroll {
    font-family: "Meiryo";
    margin: auto;
    margin-top: 0.5%;
    width: 100%;
    font-weight: Bold;
    font-size: 200%;
    line-height: 120%;
    text-align: center;
    border: none;
    color: #000;
    background: #FFF;
    overflow: hidden;
}

.Scroll span {
    display: inline-block;
    padding-left: 100%;
    white-space: pre;
    animation: scrollAnime 10s linear infinite;
    /* ←何秒で表示を一巡させるかの設定(scrollAnime "n"s) */
}

@keyframes scrollAnime {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}
